Proyecto Final - Plataforma PAR/Programación/DAR/Plataforma PAR/Service References/RicardosService/atk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/z" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/z" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/z">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="solicitar">
        <s:complexType />
      </s:element>
      <s:element name="solicitarResponse">
        <s:complexType />
      </s:element>
      <s:element name="getPorts">
        <s:complexType />
      </s:element>
      <s:element name="getPortsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPortsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="solicitarSoapIn">
    <wsdl:part name="parameters" element="tns:solicitar" />
  </wsdl:message>
  <wsdl:message name="solicitarSoapOut">
    <wsdl:part name="parameters" element="tns:solicitarResponse" />
  </wsdl:message>
  <wsdl:message name="getPortsSoapIn">
    <wsdl:part name="parameters" element="tns:getPorts" />
  </wsdl:message>
  <wsdl:message name="getPortsSoapOut">
    <wsdl:part name="parameters" element="tns:getPortsResponse" />
  </wsdl:message>
  <wsdl:portType name="atkSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="solicitar">
      <wsdl:input message="tns:solicitarSoapIn" />
      <wsdl:output message="tns:solicitarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPorts">
      <wsdl:input message="tns:getPortsSoapIn" />
      <wsdl:output message="tns:getPortsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="atkSoap" type="tns:atkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/z/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="solicitar">
      <soap:operation soapAction="http://tempuri.org/z/solicitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPorts">
      <soap:operation soapAction="http://tempuri.org/z/getPorts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="atkSoap12" type="tns:atkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/z/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="solicitar">
      <soap12:operation soapAction="http://tempuri.org/z/solicitar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPorts">
      <soap12:operation soapAction="http://tempuri.org/z/getPorts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="atk">
    <wsdl:port name="atkSoap" binding="tns:atkSoap">
      <soap:address location="http://192.168.0.20/atk.asmx" />
    </wsdl:port>
    <wsdl:port name="atkSoap12" binding="tns:atkSoap12">
      <soap12:address location="http://192.168.0.20/atk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>